/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
.container{
    margin-top: 5%;
}
.border{
    padding: 10px;
}
.btn{
    margin-right: 10px;
}
.fa button #ic1 #ic2 #ic3{
    font-size: 5px;
    margin-right: 10px;
}
.fa-search .fa.edit .fa.remove{
    font-size: 5px;
    margin-right: 10px;
    padding: 10px;
}